.hover-parent {
  ul:hover {
    opacity: 0.5;
  }
}

.hover-parent {
  a:hover {
    opacity: 1.0;
  }
}

.hover-white:hover {
  a {
    visibility: hidden;
  }
  // div:hover > span {
  //   opacity: 1;
  //   visibility: visible;
  //   color:black;
  //   text-align: center;
  //   font-size: 20px;
  //   z-index: 1000;
  // }
}